@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<AwardsAndRecognitionBlock>>
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks;
@{
    var design = ViewData["Design"] as Design;
    var backgroundColor = string.Empty;
    if (!string.IsNullOrEmpty(Model.Content.BackgroundColor)
    && (design?.BaselineColors?.Background.TryGetValue(Model.Content.BackgroundColor, out var value) ?? false))
    {
        backgroundColor = value;
    }
    var noBackgroundColor = string.IsNullOrEmpty(backgroundColor);
    var hasBrightContrast = Model.Content.Contrast == "ffffff";
    var elements = Model?.Content?.AwardElements?.Select(x => x.Content).OfType<AwardElement>() ?? Enumerable.Empty<AwardElement>();
}
<section class="section-awards py-md-10 py-lg-11" style="background-color: #@backgroundColor" @(noBackgroundColor ? "nobackgroundcolor" : null) @(hasBrightContrast ? "bright-contrast" : "")>
    <div class="container">
        <h2 class="h2 mb-5
            @(Model?.Content.HeadlineAlignment == "Right" ? "text-end" : 
              Model?.Content.HeadlineAlignment == "Left" ? "text-start" : 
              "text-center")">
            @Model?.Content.Headline
        </h2>
        <div class="row justify-content-sm-center">
            @foreach (var element in elements)
            {
                <div class="col-md-4 col-sm-6 mb-3 text-center">
                    <div class="awards-item">
                        @{
                            var image = element.Image;
                            if (image is not null)
                            {
                                var altText = image.Value<string>("altText");
                                if (string.IsNullOrWhiteSpace(altText))
                                {
                                    altText = image.Name;
                                }
                                <div class="img-holder mb-4">
                                    <img src="@image.GetCropUrl(imageCropMode: ImageCropMode.Min, width: 200)" alt="@altText">
                                </div>
                            }
                        }
                        <h3 class="h5 mb-0">@element.Description</h3>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
