@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ClientReviewBlock>>
@{
    var uniqueId = "carousel-" + Model?.Content?.Key.ToString() ?? Guid.NewGuid().ToString();
    var design = ViewData["Design"] as Design;
    var backgroundColor = string.Empty;
    if (!string.IsNullOrEmpty(Model?.Content?.BackgroundColor)
    && (design?.BaselineColors?.Background.TryGetValue(Model?.Content?.BackgroundColor!, out var value) ?? false))
    {
        backgroundColor = value;
    }
    var noBackgroundColor = string.IsNullOrEmpty(backgroundColor);
    var hasBrightContrast = Model?.Content?.Contrast == "ffffff";
}
<div class="section-review py-10 overflow-x-hidden" style="background-color: #@(backgroundColor)" @(noBackgroundColor ? "nobackgroundcolor" : null) @(hasBrightContrast ? "bright-contrast" : "")>
    <div class="container">
        <h2 class="h2 text-center mb-2">@Model?.Content?.Title</h2>
        <p class="lead-lg text-center">@Model?.Content?.Subtitle</p>
    </div>
    <div class="swiper swiper-reviews">
        <div class="swiper-wrapper">
            @{
                var reviews = Model?.Content?.ClientReviews?.Select(x => x.Content).OfType<ClientReviewItem>().ToList() ?? new List<ClientReviewItem>();
                for (int j = 0; j < reviews.Count; j++)
                {
                    var review = reviews[j];
                    if (review != null)
                    {
                        var image = review.Image;
                        ;
                        <div class="swiper-slide" @(review.Contrast == "ffffff" ? "card-contrast" : "") style="@(string.IsNullOrEmpty(review.BackgroundColor) || (!design?.BaselineColors?.Background.ContainsKey(review.BackgroundColor) ?? false) ? string.Empty : "background-color: #" + design?.BaselineColors?.Background[review.BackgroundColor])">
                            <div class="text-holder">@review.Review</div>
                            <hr class="hr my-5">
                            <div class="d-flex">
                                <div class="img-holder me-3">
                                    @if (image is not null)
                                    {
                                        var altText = image.Value<string>("altText");
                                        if (string.IsNullOrWhiteSpace(altText))
                                        {
                                            altText = image.Name;
                                        }
                                        <img class="w-100 h-100 object-fit-cover" src="@image?.GetCropUrl(height: 96)" alt="@altText" />
                                    }
                                </div>
                                <div>
                                    <p class="lead-sm fw-medium mb-1">@review.ClientName</p>
                                    <p class="lead-sm mb-0">@review.Position</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <div class="swiper-navigations">
            <div class="swiper-button-prev">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_12995_2307)">
                        <rect width="24" height="24" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0029 12.0011C18.0029 12.2 17.9239 12.3908 17.7833 12.5314C17.6426 12.6721 17.4518 12.7511 17.2529 12.7511H8.56343L11.7839 15.9701C11.8537 16.0398 11.909 16.1226 11.9467 16.2137C11.9845 16.3048 12.0039 16.4025 12.0039 16.5011C12.0039 16.5997 11.9845 16.6974 11.9467 16.7885C11.909 16.8796 11.8537 16.9624 11.7839 17.0321C11.7142 17.1018 11.6314 17.1571 11.5403 17.1949C11.4492 17.2326 11.3515 17.252 11.2529 17.252C11.1543 17.252 11.0567 17.2326 10.9656 17.1949C10.8744 17.1571 10.7917 17.1018 10.7219 17.0321L6.22193 12.5321C6.15208 12.4624 6.09667 12.3797 6.05886 12.2885C6.02105 12.1974 6.00159 12.0998 6.00159 12.0011C6.00159 11.9024 6.02105 11.8048 6.05886 11.7136C6.09667 11.6225 6.15208 11.5398 6.22193 11.4701L10.7219 6.9701C10.8628 6.82927 11.0538 6.75015 11.2529 6.75015C11.4521 6.75015 11.6431 6.82927 11.7839 6.9701C11.9248 7.11093 12.0039 7.30194 12.0039 7.5011C12.0039 7.70026 11.9248 7.89127 11.7839 8.0321L8.56343 11.2511H17.2529C17.4518 11.2511 17.6426 11.3301 17.7833 11.4708C17.9239 11.6114 18.0029 11.8022 18.0029 12.0011Z" fill="currentColor" />
                    </g>
                    <defs>
                        <clipPath id="clip0_12995_2307">
                            <rect width="24" height="24" fill="white" style="fill:white;fill-opacity:1;" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="swiper-button-next">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_12995_2281)">
                        <rect width="24" height="24" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.00293 12.0011C6.00293 11.8022 6.08195 11.6114 6.2226 11.4708C6.36325 11.3301 6.55402 11.2511 6.75293 11.2511H15.4424L12.2219 8.0321C12.0811 7.89127 12.002 7.70026 12.002 7.5011C12.002 7.30194 12.0811 7.11093 12.2219 6.9701C12.3628 6.82927 12.5538 6.75015 12.7529 6.75015C12.9521 6.75015 13.1431 6.82927 13.2839 6.9701L17.7839 11.4701C17.8538 11.5398 17.9092 11.6225 17.947 11.7136C17.9848 11.8048 18.0043 11.9024 18.0043 12.0011C18.0043 12.0998 17.9848 12.1974 17.947 12.2885C17.9092 12.3797 17.8538 12.4624 17.7839 12.5321L13.2839 17.0321C13.1431 17.1729 12.9521 17.252 12.7529 17.252C12.5538 17.252 12.3628 17.1729 12.2219 17.0321C12.0811 16.8913 12.002 16.7003 12.002 16.5011C12.002 16.3019 12.0811 16.1109 12.2219 15.9701L15.4424 12.7511H6.75293C6.55402 12.7511 6.36325 12.6721 6.2226 12.5314C6.08195 12.3908 6.00293 12.2 6.00293 12.0011Z" fill="currentColor" />
                    </g>
                    <defs>
                        <clipPath id="clip0_12995_2281">
                            <rect width="24" height="24" fill="white" style="fill:white;fill-opacity:1;" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
</div>
