@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<HeroBlock>>
@{
    var design = ViewData["Design"] as Design;
    var backgroundColor = string.Empty;
    if (!string.IsNullOrEmpty(Model.Content.BackgroundColor)
    && (design?.BaselineColors?.Background.TryGetValue(Model.Content.BackgroundColor, out var value) ?? false))
    {
        backgroundColor = value;
    }
    var image = Model.Content.Image;
    var hasBrightContrast = Model.Content.Contrast == "ffffff";
    var verticalPosition = Model.Content.ContentVerticalPosition;
    var horizontalPosition = Model.Content.ContentHorizontalPosition;
    var headlineAlignment = Model.Content.HeadlineAlignment;
}
<div class="section-hero" style="background-color:#@backgroundColor" @(hasBrightContrast ? "bright-contrast" : null)>
    <div class="hero-inner d-flex" style="align-items: @(verticalPosition == "Top" ? "start" : verticalPosition == "Center" ? "center" : "end");">
        @if (image is not null)
        {
            <div class="hero-background" style="background-image: url(@image.GetCropUrl(imageCropMode: ImageCropMode.Min, width: 1920))">
            </div>
        }
        <div class="hero-content" style=" margin-left: @(horizontalPosition == "Right" ? "auto" : horizontalPosition == "Center" ? "auto" : "0");
                                margin-right: @(horizontalPosition == "Left" ? "auto" : horizontalPosition == "Center" ? "auto" : "0");">
            <h1 style="text-align: @(headlineAlignment == "Right" ? "end" : headlineAlignment == "Center" ? "center" : "start")" class="h1">@Model.Content.Headline</h1>
            @* Only render if there is some content... *@
            @if (Model.Areas.Any(a => a.Any()))
            {
                @await Html.GetBlockGridItemAreasHtmlAsync(Model)
            }
        </div>
    </div>
</div>
