@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<TeamMembersBlock>>
@{
	var uniqueId = "carousel-" + Model?.Content?.Key.ToString() ?? Guid.NewGuid().ToString();
	var design = ViewData["Design"] as Design;
	var backgroundColor = string.Empty;
	if (!string.IsNullOrEmpty(Model?.Content?.BackgroundColor)
	&& (design?.BaselineColors?.Background.TryGetValue(Model?.Content?.BackgroundColor!, out var value) ?? false))
	{
		backgroundColor = value;
	}
	var noBackgroundColor = string.IsNullOrEmpty(backgroundColor);
	var hasBrightContrast = Model?.Content?.Contrast == "ffffff";
}
<div class="team-members position-relative py-12 py-md-24 bg-light-light overflow-hidden" style="background-color: #@(backgroundColor)" @(noBackgroundColor ? "nobackgroundcolor" : null) @(hasBrightContrast ? "bright-contrast" : "") data-bs-theme="light">
	<div class="container">
		<div class="row align-items-center mb-4 mb-md-8">
			<div class="col-12 col-md-6 text-center text-md-start">
				<h2 class="h2 mb-3 mb-md-0">@Model?.Content?.Title</h2>
			</div>
			<div class="col-12 col-md-6 mb-4 mb-md-0">
				<div class="d-flex align-items-center justify-content-center justify-content-md-end swiper-navigations">
					<button class="me-2 border d-inline-flex align-items-center justify-content-center p-0 rounded-pill swiper-button-prev" style="width: 58px; height: 58px; background: transparent;color:inherit;">
						<svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-1-2">
							<path d="M10.7051 7.12817L4.15732 13.6759L10.7051 20.2237" stroke="currentColor" stroke-width="1.61806" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
							<path d="M22.4941 13.6759H4.33949" stroke="currentColor" stroke-width="1.61806" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>
					</button>
					<button class="border d-inline-flex align-items-center justify-content-center p-0 rounded-pill swiper-button-next" style="width: 58px; height: 58px; background: transparent;color:inherit;">
						<svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-2-2">
							<path d="M16.2949 7.12817L22.8427 13.6759L16.2949 20.2237" stroke="currentColor" stroke-width="1.61806" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
							<path d="M4.50586 13.6759H22.6605" stroke="currentColor" stroke-width="1.61806" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>
					</button>
				</div>
			</div>
		</div>
		<div class="swiper swiper-team-members">
			<div class="swiper-wrapper mb-7">
				@{
					var teamMembers = Model?.Content?.Items?.Select(x => x.Content).OfType<TeamMemberItem>().ToList() ?? new List<TeamMemberItem>();
					for (int j = 0; j < teamMembers.Count; j++)
					{
						var teamMember = teamMembers[j];
						if (teamMember != null)
						{
							var image = teamMember.Image;
							<div class="swiper-slide h-auto mw-sm">
								<div class="flex-shrink-0 me-8 w-100 h-100">
									<div class="ratio ratio-1x1 mb-4">
										@if (image is not null)
										{
											var altText = image.Value<string>("altText");
											if (string.IsNullOrWhiteSpace(altText))
											{
												altText = image.Name;
											}
											<img class="img-fluid w-100 object-fit-cover rounded-4" style="object-fit: cover;" src="@image.Url()" alt="@altText" alt="...">
										}
									</div>
									<div class="mw-sm">
										<span class="lead-sm">@teamMember.Position</span>
										<h4 class="h4 mt-1 mb-0">@teamMember.FullName</h4>
									</div>
								</div>
							</div>
						}
					}
				}
			</div>
		</div>
	</div>
	</section>
