@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<TextCardWithButtonBlock>>
@{
    var hasBrightContrast = Model.Content.Contrast == "ffffff";
}
<div class="card-number h-100 p-5 border position-relative hover-anim" @(hasBrightContrast ? "bright-contrast" : "")>
    <h5 class="h5 mb-3">@Model.Content.Subtitle</h5>
    <div class="d-flex justify-content-between align-items-center mb-1">
        <h3 class="h3 mb-0 text-break" style="color: inherit;">@Model.Content.Headline</h3>
        @if (!string.IsNullOrWhiteSpace(Model?.Content?.Link?.Url))
        {
            <a href="@Model.Content.Link.Url" target="@Model.Content.Link.Target" style="color: inherit;" class="ms-1 icon-holder">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
                    <path d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z" />
                </svg>
            </a>
        }
    </div>
    <div class="text-holder">
        @Model?.Content.RichText
    </div>
    @if (!string.IsNullOrWhiteSpace(Model?.Content?.Link?.Url))
    {
        <a href="@Model.Content.Link.Url" target="@Model.Content.Link.Target" class="stretched-link">
            <span class="visually-hidden">@Model.Content.Subtitle</span>
        </a>
    }
</div>
